<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <h2>NBP exchange rates</h2>
  </a>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Current rates</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div style="text-align:center">
              <div class="flex-container">
                <img class="currency-img center" id='base64image' src={{this.base64Image}}/>
                <button class="btn btn-primary toggle-button" (click)="toggleSymbolVisibility()">Toggle currency</button>
              </div>
              <table>
              </table>
              <table class="table table-hover">
                <thead>
                <tr>
                  <th class="text-left" scope="col">Currency</th>
                  <th scope="col">Code</th>
                  <th scope="col">Rate</th>
                  <th scope="col" *ngIf="isSymbolsVisible">Symbol</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let x of rates">
                  <td class="text-left">{{x.currency}}</td>
                  <td>{{x.code}}</td>
                  <td>{{x.mid}}</td>
                  <td *ngIf="isSymbolsVisible">{{x.code | currencyDisplayPipe}} </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
